In [1]:
# UT-TOR-DATA-PT-01-2020-U-C Group Project 3
# Final project
# Import unemployment stats from 2000 to 2019
# (c) Boris Smirnov

In [2]:
# Depedences
import pandas as pd

In [3]:
# Constants
input_csv = 'unemployment_2000-2019_raw.csv'
output_csv = 'unemployment_2000-2019.csv'

In [4]:
# Dataset with per candidate per riding results
df = pd.read_csv(input_csv)

In [5]:
# Rename columns
rename_col = {
    'Geography2': 'Geography',
    'Reference period': 'Year'
}
df.rename(columns=rename_col, inplace=True)

# Leave only election years
df.drop(df.loc[~df['Year'].isin([2000, 2004, 2006, 2008, 2011, 2015, 2019])].index, inplace=True)

# Fill in Geography gaps
df['Geography'] = df['Geography'].interpolate(method='pad')
df.reset_index(inplace=True, drop=True)

# Save Canada wide stats
canada_df = df[df['Geography'] == 'Canada'].copy()

# Append missing data using Canada wide values as default
for prov in ['Yukon', 'Northwest Territories', 'Nunavut']:
    canada_df['Geography'] = prov
    df = df.append(canada_df, ignore_index=True)

# Remove Canada wide stats
df.drop(index=range(0, 7), inplace=True)

# Replace province name with province Id and rename the column accordingly
prov_name_id = {
    'Alberta': 48,
    'British Columbia': 59,
    'Nunavut': 62,
    'Manitoba': 46,
    'New Brunswick': 13,
    'Newfoundland and Labrador': 10,
    'Nova Scotia': 12,
    'Ontario': 35,
    'Prince Edward Island': 11,
    'Quebec': 24,
    'Saskatchewan': 47,
    'Yukon': 60,
    'Northwest Territories': 61
}

df['Geography'] = df['Geography'].map(prov_name_id)
df.rename(columns={'Geography': 'Prov Id'}, inplace=True)

# Save the result
df.to_csv(output_csv, index=False)

df

    Prov Id  Year  15 to 24 years  25 to 54 years  55 years and over
7        10  2000            25.4            15.0               14.1
8        10  2004            22.7            14.6               13.0
9        10  2006            22.4            13.4               14.0
10       10  2008            19.4            11.8               14.9
11       10  2011            20.4            10.5               14.4
..      ...   ...             ...             ...                ...
93       62  2006            11.7             5.3                5.1
94       62  2008            11.6             5.1                5.0
95       62  2011            14.3             6.3                6.3
96       62  2015            13.2             5.8                5.8
97       62  2019            11.0             4.7                5.0

[91 rows x 5 columns]